@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, :root {
  @apply w-full overflow-hidden
}

body {
  @apply bg-black
}

.content {
  @apply relative w-screen h-screen overflow-auto
}

.screen {
  @apply w-[970px] h-[580px] rounded overflow-y-auto p-0 bg-slate-50
}

.wrapper {
  @apply p-0 w-[970px] scale-100 origin-top-left
}

.top-image img {
  @apply w-full h-auto block
}

.item-row-container {
  @apply mt-6 mb-10 ml-16 mr-16 p-2
}

.item-row {
  @apply mb-4 flex
}

.item-icon-area {
  @apply mr-4 text-start
}

.item-icon {
  @apply w-10 h-10 rounded-full bg-slate-200 m-auto text-center leading-10
}

.item-img {
  @apply flex
}

.item-img img {
  @apply w-56 block
}

.item-desc {
  @apply flex-auto
}

.item-title {
  @apply mb-2
}

.item-title h1 {
  @apply font-bold text-base
}

.item-title h2 {
  @apply mt-2 text-base
}

.item-title p {
  @apply text-gray-500 text-sm
}

.item-title a {
  @apply font-semibold underline
}

.item-text {
  @apply flex-auto text-base mb-2
}

.item-text h1 {
  @apply text-2xl font-bold mb-2 mt-4
}

.item-text a {
  @apply font-semibold underline
}

.item-partline {
  @apply h-[1px] w-full bg-slate-400
}

.footer {
  @apply p-9 bg-slate-700 flex
}

.footer-left {
  @apply p-1 flex-auto text-white
}

.footer-right {
  @apply w-8 h-8
}

.neon {
  display: inline-block;
  color: #fff;
  font-size: 1rem;
  letter-spacing: .05em;
  text-shadow: 0 1px 30px #35c19f, 0 0 12px #fff, 2px 5px 60px #990a52;
}
.neon > span {
  animation: blink 3s infinite alternate;
}
@keyframes blink {
  40% {
    opacity: .85;
  }
  42% {
    opacity: .4;
  }
  43% {
    opacity: .85;
  }
  45% {
    opacity: .4;
  }
  46% {
    opacity: .85;
  }
}